{% extends "base.html" %} {% block title %}Import Excel{% endblock %} {% block
content %}
<h2>Excel Import Wizard</h2>

<form
  action="{{ url_for('import_wizard.import_excel') }}"
  method="POST"
  enctype="multipart/form-data"
  class="my-4"
>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="form-group">
    <label>Select Excel File (.xlsx)</label>
    <input
      type="file"
      name="file"
      class="form-control-file"
      accept=".xlsx, .csv"
      required
    />
  </div>
  <button class="btn btn-primary mt-2">Upload and Preview</button>
</form>

<div class="alert alert-info mt-4">
  Make sure your Excel file contains the following columns: <br />
  <strong
    >visit_date, treatment, payment_method, actual_amount, deposit_paid,
    deposit_method, month, year</strong
  >
</div>
{% endblock %}
